# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Databases & local uploads
chat.db
backend/chat.db
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Production / Build
dist/
frontend/dist/
build/
.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & OS
.DS_Store
.vscode/
.idea/
